<div class="mb-5">
    <h2 class="text-center">Total Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total QB Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_qb_points|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total WR Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_wr_points|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total RB Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_rb_points|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total TE Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_te_points|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total K Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_k_points|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total DEF Points by Team</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_def_points|safe }}</div>
</div>

<div class="mb-5">
    <h2 class="text-center">Total Points by Result</h2>
    <div class="border p-3 rounded shadow-sm">{{ chart_points|safe }}</div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <h2 class="text-center">Total QB Points by Result</h2>
        <div class="border p-3 rounded shadow-sm">{{ chart_qb|safe }}</div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Total WR Points by Result</h2>
        <div class="border p-3 rounded shadow-sm">{{ chart_wr|safe }}</div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <h2 class="text-center">Total RB Points by Result</h2>
        <div class="border p-3 rounded shadow-sm">{{ chart_rb|safe }}</div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Total TE Points by Result</h2>
        <div class="border p-3 rounded shadow-sm">{{ chart_te|safe }}</div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <h2 class="text-center">Total K Points by Result</h2>
        <div class="border p-3 rounded shadow-sm">{{ chart_k|safe }}</div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Total DEF Points by Result</h2>
        <div class="border p-3 rounded shadow-sm">{{ chart_def|safe }}</div>
    </div>
</div>
