<!DOCTYPE html>
<html>
<head>
    <title>Team Detail</title>
</head>
<body>
    <h1>{{ team.team_name }}</h1>
    <p>QB Points: {{ team.qb_points }}</p>
    <p>WR Points Total: {{ team.wr_points_total }}</p>
    <p>RB Points Total: {{ team.rb_points_total }}</p>
    <p>TE Points Total: {{ team.te_points_total }}</p>
    <p>K Points: {{ team.k_points }}</p>
    <p>DEF Points: {{ team.def_points }}</p>
    <p>Total Points: {{ team.total_points }}</p>
    <p>Expected Total: {{ team.expected_total }}</p>
    <p>Difference: {{ team.difference }}</p>
    <p>Points Against: {{ team.points_against }}</p>
    <p>Projected Wins: {{ team.projected_wins }}</p>
    <p>Actual Wins: {{ team.actual_wins }}</p>
    <p>Wins Diff: {{ team.wins_diff }}</p>
</body>
</html>