<!DOCTYPE html>
<html>
<head>
    <title>Fantasy Team Performance Charts</title>
    <!-- Add Plotly JS library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <!-- Hyperlinks for navigation -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team_chart_filter' %}">Team Chart Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stats_charts' %}">Stats Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stats_charts_filter' %}">Stats Charts Filter Greater Than</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'stats_charts_filter_less_than' %}">Stats Charts Filter Less Than</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'team_chart' %}">Boxplots and Team Charts</a>
            </li>
        </ul>
    <div class="container">
        <h1 class="my-4 text-center">Fantasy Team Performance Charts</h1>

        <!-- Box plot chart with dropdown filter -->
        <div class="mb-5">
            <h2 class="text-center">Total Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart|safe }}</div>
        </div>
        <div class="mb-5">
            <h2 class="text-center">Total QB Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_qb|safe }}</div>
        </div>
        <div class="mb-5">
            <h2 class="text-center">Total RB Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_rb|safe }}</div>
        </div>
        <div class="mb-5">
            <h2 class="text-center">Total WR Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_wr|safe }}</div>
        </div>
        <div class="mb-5">
            <h2 class="text-center">Total TE Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_te|safe }}</div>
        </div>
        <div class="mb-5">
            <h2 class="text-center">Total K Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_k|safe }}</div>
        </div>
        <div class="mb-5">
            <h2 class="text-center">Total DEF Points by Result</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_def|safe }}</div>
        </div>
    </div>

    <!-- Add Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
