<!DOCTYPE html>
<html>
<head>
    <title>Fantasy Team Performance Charts</title>
    <!-- Add Plotly JS library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 10px; /* Adjust this value as needed */
            z-index: 1000;
            background-color: white;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
 <!-- Hyperlinks for navigation -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team_chart_filter' %}">Team Chart Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stats_charts' %}">Stats Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stats_charts_filter' %}">Stats Charts Filter Greater Than</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'stats_charts_filter_less_than' %}">Stats Charts Filter Less Than</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'team_chart' %}">Boxplots and Team Charts</a>
            </li>
        </ul>
    <div class="container">
        <h1 class="my-4 text-center">Fantasy Team Performance Charts</h1>

        <!-- Regular charts -->
        <div class="mb-5">
            <h2 class="text-center">Total Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart|safe }}</div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Total QB Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_qb_points|safe }}</div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Total WR Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_wr_points|safe }}</div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Total RB Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_rb_points|safe }}</div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Total TE Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_te_points|safe }}</div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Total K Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_k_points|safe }}</div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Total DEF Points by Team</h2>
            <div class="border p-3 rounded shadow-sm">{{ chart_def_points|safe }}</div>
        </div>

        <!-- Box plot charts -->
        <div class="sticky">
            <div class="form-group">
                <label for="teamSelector">Select Team for Box Plots:</label>
                <select class="form-control" id="teamSelector" onchange="updateBoxPlots()">
                    <option value="all">All Teams</option>
                    {% for team in teams %}
                        <option value="{{ team }}" {% if team == selected_team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="boxPlots">
            {% include 'fantasy_data/partial_box_plots.html' %}
        </div>
    </div>

    <!-- Add Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function updateBoxPlots() {
            var team = document.getElementById("teamSelector").value;

            // Fetch the updated box plot charts from the server
            $.ajax({
                url: "{% url 'team_chart' %}",
                data: {
                    team: team,
                    only_box_plots: true
                },
                success: function(data) {
                    $('#boxPlots').html(data);
                }
            });
        }
    </script>
</body>
</html>